@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}



@{
    ViewData["Title"] = "Video";
}
<h2>@ViewData["Title"].</h2>

<video controls src="https://scicoria.blob.core.windows.net/asset-8e0e435d-1500-80c4-c44a-f1e5af4c4e38/GitHub-VSTSBuild.mp4?sv=2012-02-12&sr=c&si=c3743c25-fc22-48b2-8c77-0c53989188e1&sig=RuBfJ5dA1SVLh6WidQAn%2Fgnlhp%2FENzX6zIOYflQRfyE%3D&st=2015-12-31T02%3A40%3A48Z&se=2115-12-07T02%3A40%3A48Z"></video>